    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="knygos.herokuapp.com">Blog logo</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Login In</a></li>
        <li><a href="#">Sign Up</a></li>
      </ul>
   </nav> 
    <!-- End Navigation -->
  
<!-- Blog starts -->
<div class="container padded">
     <div class="row">
     <div class="col-xs-10 group">
          <div class="btn-group btn-group-justified">
  <div class="btn-group">
    <button type="button" class="btn btn-danger">Visos</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-danger">Knygos</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-danger">Filmai</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-danger">Žaidimai</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-danger">Kita</button>
  </div>
</div>
</div>
</div>
</div>
<!-- search -->

<!-- search ended -->
<div class="container padded2">
     <div class="row">
     <div class="col-sm-10">
                   <div class="input-group input-group-md tpad">
                        <span class="input-group-addon glyphicon glyphicon-search"></span>
                        <input type="text" class="form-control input-md" placeholde="search">
                        <span class="input-group-btn">
                             <button class="btn btn-default" type="button">Go!</button>
                        </span>
                   </div>
</div>
</div>
</div>